IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[0]" 42;
IO_PORT "debug_pmod_pins[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[1]" 41;
IO_PORT "debug_pmod_pins[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[2]" 56;
IO_PORT "debug_pmod_pins[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[3]" 54;
IO_PORT "debug_pmod_pins[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[4]" 48;
IO_PORT "debug_pmod_pins[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[5]" 55;
IO_PORT "debug_pmod_pins[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[6]" 49;
IO_PORT "debug_pmod_pins[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "debug_pmod_pins[7]" 72;
IO_PORT "debug_pmod_pins[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[0]" 39,40;
IO_PORT "hdmi_tx_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[3]" 33,34;
IO_PORT "hdmi_tx_p[3]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[1]" 37,38;
IO_PORT "hdmi_tx_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[2]" 35,36;
IO_PORT "hdmi_tx_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
INS_LOC "hdmi_pll/u_pll/rpll_inst" PLL_L[1];
